# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU


development:
  sms_signup: "ikikikeikdikeidkikikeik"
  sms_pay:

  alipay_pid: "10469"
  alipay_url: "https://codepay.fateqq.com:51888/creat_order/"
  alipay_is_paid_url: "http://codepay.fateqq.com:52888/ispay?"
  alipay_notify_url: "https://college-s.herokuapp.com/payments/pay_notify"
  alipay_code_key: "thisismykeyhaha"
  alipay_md5_secret: "34NrkS8OWTNGiQize4Ng9Ag5nqQliang"
  require_token: "xJgDafGbnCJRiCaDFt9YFcjhq4Qb6NEp"

production:
  sms_signup: "ikikikeikdikeidkikikeik"
  sms_pay:

  alipay_pid: "10469"
  alipay_url: "https://codepay.fateqq.com:51888/creat_order/"
  alipay_is_paid_url: "http://codepay.fateqq.com:52888/ispay"
  alipay_notify_url: "https://college-s.herokuapp.com/payments/pay_notify"
  alipay_code_key: "thisismykeyhaha"
  alipay_md5_secret: "34NrkS8OWTNGiQize4Ng9Ag5nqQliang"
  require_token: "xJgDafGbnCJRiCaDFt9YFcjhq4Qb6NEp"
